@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  outline: none;
  text-transform: capitalize;
  transition: all 0.3s ease-in-out;
  font-family: Outfit;
}
/* html {
  font-size: 62.5%;
  scroll-behavior: smooth;
} */
/* @media (max-width: 991px) {
  html {
    font-size: 55%;
  }
}
} */
/* @media (max-width: 450px) {
  html {
    font-size: 67.5%;
  }
} */
